@model quanlycuocdienthoai.Models.InvoicePostage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InvoicePostage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumberFKNavigation.PhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumberFKNavigation.PhoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidPostage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidPostage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KeyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
