@model IEnumerable<quanlycuocdienthoai.Models.InvoicePostage>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumberFKNavigation.PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidPostage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumberFKNavigation.PhoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaidPostage)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.KeyId }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.KeyId }) |
            @*Html.ActionLink("Delete", "Delete", new { id=item.KeyId })*@
        </td>
    </tr>
}

</table>
